## Midterm test and practice session

### 1. Questions.
Please, answer the following questions briefly. Two or three sentences with main idea would be enough.

Do not use external resourses in this part, please. Answer with you own words. If you forgot something, don't worry, we will discuss it later.

#### 1.0. 
Please, formulate the supervised learning problem statement.

_Your answer here_

#### 1.1.

What are regression and classification problems. Whatâ€™s the difference?

_Your answer here_

#### 1.2.
Write down the linear model for regression problem in matrix notation. What is Mean Squared Error (MSE) loss function? How can it be expressed?

_Your answer here_

#### 1.3.
What is the gradient of a function? How is it being used in optimization?

_Your answer here_

#### 1.4.
Write down gradient descent step for linear model and MSE for one-dimensional case.

_Your answer here_

#### 1.5.
What is validation process? And what is cross-validation process?

_Your answer here_

#### 1.6.
What is regularization? How does L1 regularization differ from L2 for linear models?

_Your answer here_

#### 1.7.
What are precision and recall metrics?

_Your answer here_

#### 1.8.
What is bagging? What is the main idea beneath it?

_Your answer here_

#### 1.9.
What is Random Forest? How is it different from Gradient Boosting? How prediction are generated from base models in Random Forest and Gradient Boosting?

_Your answer here_

### 2. Tackling Machine Learning problems in the wild
Now you will work with real data in classification problem. Your goal it to solve (with some quality) and make some conclusions. It's quite similar to the `assignment_2`. 

You may use external resources here.

#### 2.0 Reading the data
Today we work with the [dataset](https://archive.ics.uci.edu/ml/datasets/Statlog+%28Vehicle+Silhouettes%29), describing different cars for multiclass ($k=4$) classification problem. The data is available below.

In [ ]:
# If on colab, uncomment the following lines

# !wget https://github.com/girafe-ai/intro-to-ml-harbour/raw/master/assignments/assignment_midterm/car_data.csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

dataset = pd.read_csv('car_data.csv', delimiter=',', header=None).values
data = dataset[:, :-1].astype(int)
target = dataset[:, -1]

print(data.shape, target.shape)

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.35)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(846, 19) (846,)
(549, 19) (549,) (297, 19) (297,)

To get some insights about the dataset, `pandas` might be used. The `train` part is transformed to `pd.DataFrame` below.

In [2]:
X_train_pd = pd.DataFrame(X_train)

# First 15 rows of our dataset.
X_train_pd.head(15)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,127,85,41,66,155,65,22,149,45,19,139,173,330,155,75,6,16,184,191
1,183,84,35,53,122,57,4,116,59,17,123,135,196,128,76,10,27,183,190
2,75,101,53,103,203,63,9,195,34,22,162,210,571,210,68,5,5,191,198
3,309,109,48,107,215,62,10,205,32,23,158,222,624,168,65,9,32,195,206
4,181,78,36,60,116,56,6,123,55,17,124,141,221,121,78,3,16,178,185
5,672,97,47,88,183,60,7,197,33,23,148,214,596,201,74,8,0,192,191
6,94,84,45,66,154,65,6,145,46,19,144,168,312,177,73,2,3,184,188
7,250,95,38,66,126,52,8,133,52,18,140,158,253,140,78,11,8,184,183
8,236,96,37,74,199,74,5,165,39,20,128,188,419,136,72,1,3,196,200
9,364,87,45,77,153,59,7,154,44,19,145,181,350,172,75,15,14,184,189
10,808,83,46,68,139,59,6,150,44,19,146,172,336,183,74,5,3,185,191
11,232,81,44,68,120,53,6,151,45,19,147,170,333,178,86,4,5,179,183
12,144,95,45,80,186,62,7,164,40,20,145,188,406,178,65,11,18,199,204
13,217,104,57,103,216,69,11,219,30,25,176,228,708,219,73,4,3,186,196
14,629,90,42,63,144,59,7,131,50,18,142,154,259,162,65,15,3,197,204

Methods `describe` and `info` deliver some useful information.

In [3]:
X_train_pd.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
count,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000,549.000000
mean,419.785064,93.400729,44.480874,81.551913,168.313297,61.730419,8.608379,167.125683,41.327869,20.453552,147.145719,187.408015,431.249545,172.661202,72.326047,6.224044,12.726776,189.169399,195.914390
std,244.313766,8.031625,6.149454,15.702513,33.467058,8.687404,5.118808,32.779131,7.818071,2.553824,14.549459,31.337887,173.640290,32.354080,7.913612,4.807886,9.243761,6.193540,7.416811
min,4.000000,73.000000,33.000000,40.000000,104.000000,47.000000,2.000000,112.000000,26.000000,17.000000,118.000000,130.000000,184.000000,112.000000,60.000000,0.000000,0.000000,176.000000,181.000000
25%,212.000000,87.000000,39.000000,70.000000,141.000000,57.000000,6.000000,144.000000,34.000000,19.000000,136.000000,166.000000,312.000000,147.000000,67.000000,2.000000,5.000000,185.000000,191.000000
50%,409.000000,93.000000,44.000000,79.000000,167.000000,61.000000,8.000000,157.000000,43.000000,20.000000,145.000000,179.000000,362.000000,172.000000,71.000000,5.000000,11.000000,189.000000,197.000000
75%,635.000000,99.000000,49.000000,96.000000,194.000000,65.000000,10.000000,192.000000,46.000000,22.000000,158.000000,214.000000,563.000000,195.000000,75.000000,9.000000,19.000000,194.000000,201.000000
max,845.000000,116.000000,58.000000,112.000000,333.000000,138.000000,52.000000,265.000000,61.000000,29.000000,188.000000,320.000000,1018.000000,264.000000,135.000000,21.000000,41.000000,204.000000,211.000000

In [4]:
np.unique(y_train)

array(['bus', 'opel', 'saab', 'van'], dtype=object)

In [5]:
X_train_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       549 non-null    int32
 1   1       549 non-null    int32
 2   2       549 non-null    int32
 3   3       549 non-null    int32
 4   4       549 non-null    int32
 5   5       549 non-null    int32
 6   6       549 non-null    int32
 7   7       549 non-null    int32
 8   8       549 non-null    int32
 9   9       549 non-null    int32
 10  10      549 non-null    int32
 11  11      549 non-null    int32
 12  12      549 non-null    int32
 13  13      549 non-null    int32
 14  14      549 non-null    int32
 15  15      549 non-null    int32
 16  16      549 non-null    int32
 17  17      549 non-null    int32
 18  18      549 non-null    int32
dtypes: int32(19)
memory usage: 40.9 KB

#### 2.1. Data preprocessing
* Make some transformations of the dataset (if necessary). Briefly explain the transformations

In [4]:
from sklearn.preprocessing import StandardScaler

In [6]:
### YOUR CODE HERE

#### 2.2. Logistic regression
* Find the optimal hyperparameters for logistic regression using cross-validation (e.g. `GridSearchCV`). You can vary only a parameter for `l2` regularization (e.g 5 different values).

* Then build a ROC curve for this classifier (`sklearn.metrics.roc_curve`). Estimate the model quality with appropriate metrics (which will you use?)

_Note: be careful with preprocessing (like scaling) to avoid data leaks._

In [9]:
from sklearn.linear_model import LogisticRegression

### YOUR CODE HERE

#### 2.3. Decision tree
* Now train a desicion tree on the same data. Find optimal tree depth (`max_depth`) using cross-validation (again, checking 5 variants would be fine).

* Measure the model quality using the same metrics you used above.

In [13]:
from sklearn.tree import DecisionTreeClassifier

# YOUR CODE HERE

#### 2.4. Random Forest
Now we will work with the Random Forest (its `sklearn` implementation).

* Vary the number of trees (from 5 to 50 with step 5) and build the plot in axes "model accuracy" - "number of trees".

* What is the optimal number of trees you've got?

In [173]:
from sklearn.ensemble import RandomForestClassifier

# YOUR CODE HERE

#### 2.5. Bonus part: "learning curve"
* Split the training data into 10 equal (almost) parts. Then train the models from above (Logistic regression, Desicion Tree, Random Forest) with optimal hyperparameters you have selected on 1 part, 2 parts (combined, so the train size in increased by 2 times), 3 parts and so on.

* Build a plot of accuracy and f1-score (on `test` part) varying the `train` dataset size (so the axes will be metric - dataset size.

* Analyse the final plot. Can you make any conlusions using it?

In [ ]:
# YOUR CODE HERE